@font-face {
  font-family: Wahran;
  font-weight: 300;
  src: url("../Asstes/Fonts/Wahran-Regular.otf");
}
@font-face {
  font-family: Wahran;
  font-weight: 500;
  src: url("../Asstes/Fonts/Wahran-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  direction: rtl;
  text-align: right;
  font-family: "Wahran";
  font-weight: 300;
  color: #131008;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
}

header {
  padding-block: 10px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #C2C0B2;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header-wrapper nav .nav-link {
  font-size: 18px;
  font-weight: 300;
}
header .header-wrapper nav .nav-link.active {
  color: #076A3B;
}
header .header-wrapper .account-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
header .header-wrapper .account-actions .btn-link {
  padding-block: 8px;
  padding-inline: 16px;
  border-radius: 0 16px;
  border: 1px solid #076A3B;
}
header .header-wrapper .account-actions .btn-link.signup {
  background-color: #076A3B;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
}

.center-h {
  display: flex;
  justify-content: center;
}

.main-heading {
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  position: relative;
  padding-bottom: 16px;
}
.main-heading::after {
  content: "";
  background-color: #076A3B;
  height: 2px;
  width: 80px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
}
.main-heading.right {
  text-align: initial;
}
.main-heading.right::after {
  transform: unset;
  right: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  border-image: fill 1 linear-gradient(rgba(7, 106, 60, 0.6039215686), rgba(7, 106, 60, 0.6039215686));
}

.btn-cta {
  padding-inline: 80px;
  padding-block: 12px;
  background-color: #826B24;
  border-radius: 0 16px;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  gap: 12px;
  align-self: center;
  justify-content: center;
  margin-bottom: 15px;
  color: #fff;
  cursor: pointer;
}

.btn-inline {
  color: #076A3B;
  text-align: center;
  margin-top: 30px;
}

.home .hero-section {
  min-height: 95vh;
  max-height: fit-content;
  background-image: url("../Asstes/Imgs/hero-pattern.svg");
  padding-block: 20px;
}
.home .hero-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.home .hero-section .hero-content {
  width: 55%;
  text-align: center;
}
.home .hero-section .hero-content h1 {
  font-size: 64px;
  font-weight: 300;
}
.home .hero-section .hero-content p {
  font-size: 20px;
  margin-top: 16px;
  line-height: 28px;
}
.home .hero-section .hero-details h6 {
  font-size: 16px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid #131008;
  padding-block: 8px;
  font-weight: 300;
}
.home .registeration-conditions {
  margin-block: 50px;
}
.home .registeration-conditions .conditions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 48px;
}
@media (max-width: 920px) {
  .home .registeration-conditions .conditions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.home .registeration-conditions .conditions .condition {
  min-height: 180px;
  padding-inline: 20px;
  padding-block: 8px;
  border: 1px solid #C2C0B2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .registeration-conditions .conditions .condition p {
  text-align: center;
}
.home .registeration-conditions .conditions .condition.guide {
  background-color: #076A3B;
  color: #fff;
  text-decoration: underline;
  font-weight: 300;
  border-radius: 0 16px;
  cursor: pointer;
}
.home .registeration-conditions .conditions .condition.guide .icon {
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  margin-right: 10px;
}
.home .registeration-conditions .conditions .condition.guide .icon img {
  vertical-align: middle;
}
.home .register-steps-section {
  margin-block: 50px;
}
.home .register-steps-section .register-steps-container {
  display: flex;
  gap: 40px;
}
@media (max-width: 920px) {
  .home .register-steps-section .register-steps-container {
    display: block;
  }
}
.home .register-steps-section .register-steps-container .register-details h3 {
  margin-bottom: 30px;
}
.home .register-steps-section .register-steps-container .register-details p {
  width: 70%;
  margin-bottom: 15px;
}
.home .register-steps-section .register-steps-container .register-details p.remark {
  color: #D62227;
}
.home .register-steps-section .register-steps-container .register-details ul {
  padding-block: 8px;
  padding-inline: 16px;
  font-size: 20px;
  border: 1px solid #C2C0B2;
  background-color: #fff;
  width: 85%;
  position: relative;
}
.home .register-steps-section .register-steps-container .register-details ul li {
  font-size: 16px;
  margin-top: 16px;
  margin-inline: 24px;
}
.home .register-steps-section .register-steps-container .register-details ul::before {
  content: " ";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 100%;
  height: 100%;
  border: 1px solid #076A3B;
  z-index: -1;
}
@media (max-width: 920px) {
  .home .register-steps-section .register-steps-container .register-details {
    margin-bottom: 40px;
  }
}
.home .register-steps-section .register-steps-container .register-steps {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}
.home .register-steps-section .register-steps-container .register-steps .steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 412px) {
  .home .register-steps-section .register-steps-container .register-steps .steps {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.home .register-steps-section .register-steps-container .register-steps .steps .step {
  max-width: 375px;
  min-height: 100px;
  padding-inline: 36px;
  padding-block: 8px;
  display: flex;
  align-items: center;
  border: 1px solid #C2C0B2;
  position: relative;
}
.home .register-steps-section .register-steps-container .register-steps .steps .step p {
  font-size: 16px;
}
.home .register-steps-section .register-steps-container .register-steps .steps .step::before {
  content: attr(data-step);
  background-color: #ECEBE6;
  border: 1px solid #C2C0B2;
  color: #131008;
  font-size: 32px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.home .hadj-guide-section {
  padding-block: 50px;
}
.home .hadj-guide-section .hadj-guides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.home .hadj-guide-section .hadj-guides .hadj-guide {
  height: 400px;
  position: relative;
  margin-top: 28px;
  cursor: pointer;
  border-width: 10p;
}
.home .hadj-guide-section .hadj-guides .hadj-guide span {
  position: absolute;
  right: 24px;
  top: 20px;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #fff;
  border-radius: 40px;
}
.home .hadj-guide-section .hadj-guides .hadj-guide .main-img {
  object-fit: cover;
  width: 100%;
}
.home .hadj-guide-section .hadj-guides .hadj-guide .hovered-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.home .hadj-guide-section .hadj-guides .hadj-guide .hovered-icon img {
  object-fit: unset;
  width: 70%;
}
.home .hadj-guide-section .hadj-guides .hadj-guide:hover .hovered-icon {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
