// Reusable classes

.container {
    width: 90%;
    max-width: 1200px;
}

.center-h {
    display: flex;
    justify-content: center
}

.main-heading {

    font-weight: 300;
    font-size: 32px;
    text-align: center;
    position: relative;
    padding-bottom: 16px;

    &::after {
        content: "";
        background-color: $color-primary;
        height: 2px;
        width: 80px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 0;
    }

    &.right {
        text-align: initial;

        &::after {
            transform: unset;
            right: 0;
        }
    }
}

.overlay {
    width: 100%;
    height: 100%;
    border-image: fill 1 linear-gradient(#076a3c9a, #076a3c9a);
}

// Btns

.btn-cta {
    padding-inline: 80px;
    padding-block: 12px;
    background-color: $color-accent;
    border-radius: 0 16px;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    gap: 12px;
    align-self: center;
    justify-content: center;
    margin-bottom: 15px;
    color: #fff;
    cursor: pointer;

    &.green {
        background-color: $color-primary;
    }

}

.btn-inline {
    color: $color-primary;
    text-align: center;
    margin-top: 30px;
}