@font-face {
    font-family: Wahran;
    font-weight: 300;
    src: url("../Asstes/Fonts/Wahran-Regular.otf");
}

@font-face {
    font-family: Wahran;
    font-weight: 500;
    src: url("../Asstes/Fonts/Wahran-Bold.otf");
}